body {
    background-color: #06BCFB;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
}

/* NAVBAR */

.navbarMenu {
    margin-left: 48%;
}

.navbarMenu li a {
    font-size: 17px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.loginBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
    gap: 10px;
    width: 100px;
    height: 33px;
    background: #E24C33;
    border-radius: 30px;
    color: white;
}

.signupBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
    gap: 10px;
    width: 111px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 30px;
    flex: none;
    order: 7;
    flex-grow: 0;
    color: #06BCFB;
}


/* HOME slider */

.carousel-indicators button {
    position: relative;
    bottom: -50px;
    background-color: white !important;
    width: 80px !important;
}

.carousel-caption {
    position: absolute;
    top: 177px;
    left: 100px;
}


.carousel-caption h1 {

    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: white;
    text-align: left;

}

.carousel-caption p {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
}

/* Services */

.servicesContainer h1 {
    position: absolute;
    top: 943px;
    left: 155px;

    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.5);

}


.servicesItems {
    width: 90%;
    margin: auto;
    position: relative;
    top: 260px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 999;
}

.servicesItem {
    width: 500px;
    height: 290px;
    background: #FFFFFF;
    border-radius: 20px;
}

.servicesItem div {
    position: relative;
    left: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.servicesItem div h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
}

.servicesItem img {
    width: 40px;
}

.servicesItem p {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(24, 24, 24, 0.5);
}

.servicesItem a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E24C33;
}


/* About */


.aboutContainer {
    position: relative;
    bottom: -100px;
    background-color: #F4F4F4;
    height: 250vh;

}

.aboutItems {
    display: flex;
    position: relative;
    top: 400px;
    left: 155px;
    height: 60vh;
}

.aboutTexts {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutTexts h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 60px;
    color: rgba(24, 24, 24, 0.85);
}

.aboutTexts a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E24C33 !important;
    cursor: pointer;
}

.aboutImgs img:first-child {
    position: relative;
    top: -200px;
    left: 130px;
}


.aboutImgs img:last-child {
    position: relative;
    top: -370px;
    left: 150px;
}



.brandsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    top: 750px;
}




/* Galery */
.galeryContainer h1 {
    position: absolute;
    top: 2650px;
    left: 155px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 60px;
    color: rgba(24, 24, 24, 0.85);
}

.galeryItems {
    width: 90%;
    margin: auto;
    position: relative;
    top: -600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.galeryItem {
    width: 520px;
    height: 580px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.galeryItem div {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.galeryItem div h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
}

.galeryItem p {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(24, 24, 24, 0.5);
}

.galeryItem a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E24C33;
}

/*FOOTER*/
.main-footer {
    background-color: white;
    position: relative;
    top: -200px;
}


.footer-items {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.footerlogo {
    width: 70%;
    margin-bottom: 20px;
}

.footer-item a {
    color: #afafaf;
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
    text-align: left;
}

.footer-item a:hover {
    color: #ff685f;

}

.footer-item em {
    font-size: 35px;
}

.footer-item em:hover {
    color: #ff685f;
}

.footer-item input {
    background-color: #03a4ed;
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
}

.footer-item input::placeholder {
    color: white;
}

.footer-item button {
    font-size: 25px;
    border: none;
    background-color: transparent;
    margin-left: -50px;
    color: white;
    border: none;
}

.footer-item:nth-child(4) {
    align-self: flex-start;
}